@import "./../../../assets/sass/modules/var";

.card-contact{
    background: #fff;
    border-radius: 30px;
    margin: 30px 0 0 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.44);
}

.card-aditional-contact{
    position: relative;
    display: flex;
    background: #fff;
    width: 75%;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.44);
}

.contact-way{
    margin: 10px 0;
}

.img-contact{
    position: absolute;
    left: -30px;
    top: 10px;
}

.contact-info{
    padding-left: 100px;
}

/* Estilos formulario validación */

input, textarea{
    border: 2px solid #C9C9C9;
    background: white;
    color: $neutral-50;
    padding: 15px;
    border-radius: 30px;
    transition: all ease-in-out 0.5s;
}

input:focus-visible, textarea:focus-visible{
    border-radius: 30px;
    border: 2px solid $color-secondary;
    outline: none;
    background: #f2f3ff;
}

.formulario__group-input{
    position: relative;
    input{
        width: 100%;
        &.is-invalid{
            border: 2px solid #bb2929;
        }
    }
    textarea{
        width: 100%;
        height: 100px;
        &.is-invalid{
            border: 2px solid #bb2929;
        }
    }
}

.messages{
    opacity: 0;
    transition: all ease-in-out 0.5s;
    &.active{
        opacity: 1;
    }
}

.mensaje-error, .icono-error{
    color: #ff2d2d;
}


.icono-error{
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    &.active{
        opacity: 1;
    }
}

.formulario-mensaje-error{
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    background: #aa3838;
    padding: 0 15px;
    border-radius: 3px;
    margin: 0 0 15px 0;
    display: none;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    p{
        font-size: 16px;
        color: #fff;
        margin: 0;
    }span{
        margin: 0 10px 0 0;
        vertical-align: middle;
    }
    &.active{
        display: block;
        opacity: 1;
    }
}

.formulario-mensaje-exito{
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    background: #89ffb7;
    padding: 0 15px;
    border-radius: 3px;
    margin: 0 0 15px 0;
    display: none;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    p{
        span{
            vertical-align: middle;
        }
    }
    &.active{
      display: block;
      opacity: 1;
    }
}
