<div class="offcanvas offcanvas-end width-custom" tabindex="-1" id="sura" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
      <h2 id="suraIn">SURA</h2>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <h5>Proyecto: Inclusión asegurados</h5>
      <p>
          Para garantizar la transparencia sobre el ingreso de la información al tomar un seguro, secrea el proyecto Inclusión Asegurados en el cual ayudamos a los usuarios a través de un proceso guiado la toma de su inclusión y la de sus familiares.
      </p>
      <div class="align-link">
          <h6>Prototipo</h6>
          <a href="https://xd.adobe.com/view/704a8277-4450-41e0-91e2-50dffee0de5e-2519/" target="_blank">Conoce el resultado</a>
      </div>
      <div class="images">
          <img src="./../../../assets/images/project1-sura-offcanvas.jpg" alt="Sura inclusión asegurados">
      </div>
  </div>
</div>
