<section class="about-me padding-sections wow animate__animated animate__fadeInUp" id="about">
    <div class="square-bg-left"></div>
    <div class="name-section">
        <h2>A little bit about me</h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="body-about">
                <p>
                  Design and development are two topics that will always be linked; the main reason is because the presentation of the elements and information must be done in an orderly manner because if we do not do it we will generate excessive cognitive load to the end user. It is for this main reason that I decided to be more than a UI designer and embark on the wonderful world of software development; in this path of knowledge I have found many common points on design methodologies even in the back where I also do very well, however my essence is the front and that is why I am <strong>Fronted UI & UX/UI Designer.</strong> <a href="#contact"> Let's work together!</a>
                </p>
                <div class="myself">
                    <img src="./../../../assets/images/img-srr.png" alt="Santiago Restrepo Rueda">
                    <div>
                        <h5>Santiago Restrepo Rueda</h5>
                        <div><span>Architect Developer at <a href="https://www.ceiba.com.co/" target="_blank">Ceiba Software</a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="favorite-apps">
        <h5>Applications that are benchmarks for me</h5>
        <div class="apps">
            <article *ngFor="let app of appsAbout">
                <div class="card-app">
                    <img [src]="app.image" [alt]="app.title">
                    <p>{{app.title}}</p>
                </div>
            </article>
        </div>
    </div>
</section>

