<section class="projects padding-sections wow animate__animated animate__fadeInUp" id="works">
  <div class="align-justify-end">
    <div class="name-section">
        <p>Portafolio</p>
        <h2>Mis trabajos</h2>
    </div>
    <div class="link-projects">
        <p>Todos los proyectos de diseño en
            <a href="https://dribbble.com/TiagoLamat" target="blank">Dribbble
                <img src="./../../../assets/images/ic-right-arrow.svg" alt="">
            </a>
        </p>
    </div>
  </div>
  <div class="contenedor padding-sections">
    <div class="project-1">
        <button class="btn-base button-project" type="button" data-bs-toggle="offcanvas" data-bs-target="#sura" aria-controls="offcanvasRight">
            <img class="img-width" src="./../../../assets/images/project1@2x.png" alt="SURA Inclusión asegurados">
        </button>
    </div>
  </div>
  <app-detail-project></app-detail-project>
</section>
