<section class="projects padding-sections wow animate__animated animate__fadeInUp" id="works">
  <div class="align-justify-end">
    <div class="name-section">
        <p>Portfolio</p>
        <h2>My projects</h2>
    </div>
    <div class="link-projects">
        <p>All design projects in
            <a href="https://dribbble.com/TiagoLamat" target="blank">Dribbble
                <img src="./../../../assets/images/ic-right-arrow.svg" alt="">
            </a>
        </p>
    </div>
  </div>
  <div class="contenedor padding-sections">
    <div [class]="grid.class" *ngFor="let grid of gridProject">
        <button class="btn-base button-project" type="button" data-bs-toggle="offcanvas"  [attr.data-bs-target]="'#'+grid.client" data aria-controls="offcanvasRight">
            <img class="img-width" [src]="grid.imageOut" alt="">
        </button>
        <div
          class="offcanvas offcanvas-end width-custom"
          [id]="grid.client"
          aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
              <h2 id="suraIn">{{grid.clientName}}</h2>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <h5>Project: {{grid.titleProject}}</h5>
              <p>{{grid.description}}</p>
              <div class="align-link" *ngIf="grid.link !== ''">
                  <h6>Prototype</h6>
                  <a [href]="grid.link" target="_blank">See the result</a>
              </div>
              <div class="images">
                  <img [src]="grid.imageIn" alt="">
              </div>
          </div>
        </div>
    </div>
  </div>
</section>
