<section class="banner-inicio padding-sections wow animate__animated animate__fadeInDown" id="inicio">
  <div class="row align-items-center">
      <div class="col-md-7">
          <h1 class="head-message">
              Hello, I am<br>
              <span class="color-position">Frontend</span><br>
              Developer &<br>
              <span class="color-position">UX/UI </span> Designer
          </h1>
          <p>
            Hi, I'm Santiago and I work in Medellin Colombia,
            I help companies or Startups to enhance their web
            and mobile applications.
          </p>
          <button onclick="window.location.href='#contact'" class="btn-base button-primary btn-big">Let's work together</button>
          <span class="scroll-icon">
              <span class="scroll-icon__wheel-outer">
                <span class="scroll-icon__wheel-inner"></span>
              </span>
          </span>
      </div>
      <div class="col-md-5">
          <div class="d-flex justify-content-center">
              <img src="./../../../assets/images/ic-foto-srr-portfolio.png" alt="Foto Santiago Restrepo Rueda" class="img img-fluid">
          </div>
      </div>
  </div>
</section>
