<nav class="navbar navbar-expand-lg justify-content-between position-sticky" id="navMenu">
  <div class="menu-mobile">
      <a class="navbar-brand" href="#inicio"><img src="./../../../assets/images/ic-ghost-srr-portafolio.svg" alt="Logo srr portafolio"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#works">Projects</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#about">About me</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#contact">Let's work</a>
          </li>
      </ul>
      <div class="social-media">
          <a href="https://www.instagram.com/insoul_code/" target="_blank"><img src="./../../../assets/images/ic-instagram.svg" alt="Icono Instagram"></a>
          <a href="https://github.com/insoul-code" target="_blank"><img src="./../../../assets/images/ic-github.svg" alt="Icono GitHub"></a>
      </div>
  </div>
</nav>
