<section class="skills padding-sections wow animate__animated animate__fadeInUp" id="skills">
  <div class="title-section align-center">
      <p>Lo que mejor se hacer</p>
      <h2>Mis habilidades</h2>
  </div>
  <div class="row">
      <div class="col-md-6">
          <article class="skill">
              <div class="header-article">
                  <img src="./../../../assets/images/skill-1.svg" alt="Imagen Frontend">
                  <h4>Desarrollo Frontend</h4>
              </div>
              <div class="body-article">
                  <p>
                      Creo y desarrollo toda la interacción en el Front de la
                      aplicaciones; siempre usando tres componentes imprescindibles
                      HTML5, CSS3 y Javascript. ¡Así podemos crear una aplicación funcional!.
                  </p>
              </div>
          </article>
      </div>
      <div class="col-md-6">
          <article class="skill">
              <div class="header-article">
                  <img src="./../../../assets/images/skill-2.svg" alt="Consultoria UX">
                  <h4>Consultoria UX</h4>
              </div>
              <div class="body-article">
                  <p>
                      Mi rol como UX/UI me ha permitido conocer a profundidad
                      metodologías de investigación y consultoria para realizar
                      investigación y laboratorios con usuarios lo cual es clave para
                      un buen resultado.
                  </p>
              </div>
          </article>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <article class="skill">
              <div class="header-article">
                  <img src="./../../../assets/images/skill-3.svg" alt="Imagen Frontend">
                  <h4>Diseño de interfaces UI</h4>
              </div>
              <div class="body-article">
                  <p>
                      Antes que desarrollador soy Diseñador. Al diseñar interfaces
                      creamos y capturamos las necesidades gráficas que la aplicación
                      de acuerdo con los hallazgos con los usuarios requiere.
                  </p>
              </div>
          </article>
      </div>
      <div class="col-md-6">
          <article class="skill">
              <div class="header-article">
                  <img src="./../../../assets/images/skill-4.svg" alt="Consultoria UX">
                  <h4>Workshops para equipos</h4>
              </div>
              <div class="body-article">
                  <p>
                      ¡Enseñar es aprender dos veces!. Siempre me ha gustado compartir el
                      conocimiento y entrenar equipos que están en busca de una madurez profesional
                      en HTML, CSS, Javascript, UX o UI.
                  </p>
              </div>
          </article>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="card-relevant-info">
              <article>
                  <span class="number" id="value">8</span>
                  <span class="lead">Años de <br>experiencia</span>
              </article>
              <article>
                  <span class="number" id="value2">32</span>
                  <span class="lead">Proyectos  <br>completados</span>
              </article>
              <article>
                  <span class="number" id="value3">25</span>
                  <span class="lead">Clientes  <br>satisfechos</span>
              </article>
              <article>
                  <span class="number" id="value4">99</span>
                  <span class="lead">Trabajos en  <br>Dribbble</span>
              </article>
          </div>
      </div>
  </div>
</section>
