<section class="skills padding-sections wow animate__animated animate__fadeInUp" id="skills">
  <div class="title-section align-center">
      <p>Lo que mejor se hacer</p>
      <h2>Mis habilidades</h2>
  </div>
  <div class="row">
      <div class="col-md-6" *ngFor="let skill of skills">
          <article class="skill">
              <div class="header-article">
                  <img [src]="skill.icon" [alt]="skill.title">
                  <h4>{{skill.title}}</h4>
              </div>
              <div class="body-article">
                  <p>{{skill.description}}</p>
              </div>
          </article>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div class="card-relevant-info">
              <article>
                  <span class="number" id="value">8</span>
                  <span class="lead">Años de <br>experiencia</span>
              </article>
              <article>
                  <span class="number" id="value2">32</span>
                  <span class="lead">Proyectos  <br>completados</span>
              </article>
              <article>
                  <span class="number" id="value3">25</span>
                  <span class="lead">Clientes  <br>satisfechos</span>
              </article>
              <article>
                  <span class="number" id="value4">99</span>
                  <span class="lead">Trabajos en  <br>Dribbble</span>
              </article>
          </div>
      </div>
  </div>
</section>
