<section class="skills padding-sections wow animate__animated animate__fadeInUp" id="skills">
  <div class="title-section align-center">
      <p>What I do best</p>
      <h2>My skills</h2>
  </div>
  <div class="row">
      <div class="col-md-6" *ngFor="let skill of skills">
          <article class="skill">
              <div class="header-article">
                  <img [src]="skill.icon" [alt]="skill.title">
                  <h4>{{skill.title}}</h4>
              </div>
              <div class="body-article">
                  <p>{{skill.description}}</p>
              </div>
          </article>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div class="card-relevant-info">
              <article>
                  <span class="number" id="value">10</span>
                  <span class="lead">Years of <br>experience</span>
              </article>
              <article>
                  <span class="number" id="value2">32</span>
                  <span class="lead">Projects  <br>completed</span>
              </article>
              <article>
                  <span class="number" id="value3">25</span>
                  <span class="lead">Satisfied   <br>customers</span>
              </article>
              <article>
                  <span class="number" id="value4">99</span>
                  <span class="lead">Dribbble <br>jobs</span>
              </article>
          </div>
      </div>
  </div>
</section>
