@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/sass/modules/_var";
@import "assets/sass/modules/_mixins";
@import "assets/sass/modules/_utility";

@import "assets/sass/partials/_reset";
@import "assets/sass/partials/_grid";
@import "assets/sass/partials/_global";
@import "assets/sass/partials/_buttons";
@import "assets/sass/partials/keyframes";


.square-bg-left{
  background: #f5f5ff;
  position: absolute;
  width: 850px;
  height: 900px;
  z-index: -1;
  left: 0;
  border-radius: 30px;
}

.square-bg-right{
  background: #f5f5ff;
  position: absolute;
  width: 850px;
  height: 500px;
  z-index: -1;
  right: 0;
  border-radius: 30px;
}

.about-me .name-section .sub-parra{
  margin: 40px 0 0 0;
}

.body-about p{
  padding: 30px 0;
}

.myself{
  display: flex;
  align-items: center;
}

.myself img{
  margin: 0 25px 0 0;
}

.favorite-apps{
  padding: 60px 0 0 0;
}

.apps{
  padding: 30px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.card-app{
  background: #fff;
  border-radius: 20px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.44);
}

.card-app img{
  width: 80px;
}

.card-app p{
  margin: 0;
}

/* Estilos del footer */

footer{
  background: #fff;
  padding: 20px 0;
  margin: 50px 0 0 0;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p, .footer h6{
  margin: 0;
  font-size: 14px;
}

// Reset
.navbar-toggler .navbar-toggler-icon{
  background-image: url('./assets/images/menu.svg');
}

/* Estilos responsive */

@media screen and (max-width: 768px){

  .menu-mobile{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .offcanvas.offcanvas-end.width-custom {
      width: 100%;
  }

  .social-media{
      text-align: center;
  }

  .social-media img{
      width: 60px;
  }
  .navbar-nav{
      text-align: center;
      font-size: 30px;
  }
  .contact .name-section{
      text-align: center;
  }

  .skill{
      text-align: center;
  }

  .header-article{
      flex-direction: column;
  }

  .card-relevant-info{
      flex-wrap: wrap;
  }

  .card-relevant-info article{
      width: 44%;
      display: flex;
      justify-content: space-around;
      margin: 0 20px 15px 0;
  }

  .card-relevant-info .number{
      font-size: 35px;
  }

  .card-relevant-info .lead{
      font-size: 16px;
  }

  .align-justify-end{
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .link-projects p{
      display: flex;
      flex-direction: column;
  }

  .square-bg-left, .square-bg-right{
      width: 284px;
      height: 300px;
  }

  .apps{
      flex-wrap: wrap;
      justify-content: center;
  }

  .card-app{
      margin: 10px 0;
  }

  .card-aditional-contact{
      display: flex;
      justify-content: center;
      margin: 40px 0;
      width: 100%;
  }

  .contact-info{
      padding: 100px 0 0 0;
  }

  .img-contact{
      left: 30%;
  }

  .button-contact button{
      width: 100%;
  }

  .footer{
    flex-direction: column;
    text-align: center;
    h6{
      margin: 20px 0;
    }
  }

}

@media screen and (max-width: 565px){
  .card-relevant-info article{
      width: 100%;
  }
}
