$color-primary: #120E48;
$color-secondary: #7D89EF;

$neutral: #FFF;
$neutral-20: #fafafa;
$neutral-50: #535353;
$neutral-100: #000;

$color-link-custom: #E94B88;


$font-poppins: 'Poppins', sans-serif;

$titles-h1: 3.125rem;
$subtitles-h2: 2.625rem;
$paragraph: 1rem;
$blocktext: 1.125rem;

$bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;
$breakpoint-minimobile: 400px;
