body{
  background: #FAFAFA;
}

h1, h2, h3, h4, h5, h6, button, a, label{
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
  color: $color-primary;
}

h1{
  font-size: $titles-h1;
  font-weight: $bold;
}

h2{
  font-size: $subtitles-h2;
}

p{
  font-size: $blocktext;
  color: $neutral-50;
  font-family: 'DM Sans', sans-serif;
}

label{
  color: $color-primary;
  margin: 20px 0 0 0;
}
